*.parquet.gz
*.parquet
*.xlsx
*.ipynb_checkpoints
dist
__pycache__
.secrets.*
poetry.lock
.coverage
coverage.xml
requirements-dev.txt
fr_dep_news_trf-3.8.0/
*/venv
nohup.txt
src/decoupage_libelles.egg-info/